# Number - Integer,Float

In [76]:
1

1

In [77]:
1.4

1.4

In [7]:
1*3

3

In [8]:
1/2

0.5

In [9]:
1/2.0

0.5

In [11]:
2 + 3 * 5 + 5

22

In [13]:
(2 + 5) * (5+5)

70

In [14]:
8%2

0

In [17]:
var = 2

In [16]:
var

2

In [18]:
x = 2
y = 3

In [20]:
x

2

In [21]:
y

3

# Strings

In [25]:
'Single Quotes'

'Single Quotes'

In [26]:
"Double Quotes"

'Double Quotes'

In [27]:
"I can't go"

"I can't go"

In [31]:
x = "Hello"

In [32]:
print(x)

Hello

In [33]:
num = 12
name='Sam'

In [35]:
print('My Number is {} and my name is {}'.format(num,name))

My Number is 12 and my name is Sam

In [37]:
print('My Number is {one} adn my name is {two},more {one}'.format(one=num,two=name))

My Number is 12 adn my name is Sam,more 12

In [38]:
s = 'hello'

In [39]:
s[0]

'h'

In [41]:
s[-1]

'o'

In [42]:
s[4]

'o'

In [44]:
s='abcdefghij'

In [45]:
s[0:4]

'abcd'

In [46]:
s[0::2]

'acegi'

# list

In [52]:
my_list = ['a','b','c']

In [53]:
print(my_list)

['a', 'b', 'c']

In [54]:
my_list.append('d')

In [55]:
print(my_list)

['a', 'b', 'c', 'd']

In [56]:
my_list[1:3]

['b', 'c']

In [57]:
my_list[0] = "New Element"

In [58]:
print(my_list)

['New Element', 'b', 'c', 'd']

In [59]:
nested_list = [1,2,[1,2]]

In [60]:
print(nested_list)

[1, 2, [1, 2]]

In [61]:
nested_list[2]

[1, 2]

In [62]:
nested_list[2][1]

2

In [69]:
nest = [1,2,3,[4,5,['target','target 2']]]

In [71]:
print(nest[3][2][1])

target 2